{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "rules": {
        "brace-style": [ 2, "stroustrup", { "allowSingleLine": true } ],
        "comma-dangle": 1,
        "indent": [ 2, 4, {"SwitchCase": 1} ],
        "max-len": 1,
        "new-cap": [1, { "capIsNewExceptions": ["ImmutableStore", "List", "Map"] }],
        "no-param-reassign": [2, {"props": false}],
        "no-shadow": [2, {"allow": ["err"]}],
        "no-underscore-dangle": ["error", { "allow": ["_id", "__INITIAL_STATE__", "_json", "_header", "__"] }],
        "no-unused-expressions": 1,
        "no-unused-vars": [ 1, { "vars": "all", "args": "after-used", "argsIgnorePattern": "req|res|next" }],
        "prefer-const": 1,
        "quotes": [ 1, "single"],
        "react/jsx-indent": [1, 4],
        "react/jsx-indent-props": [2, 4],
        "react/prefer-stateless-function": 0,
        "react/sort-comp": 1,
    },
}
